In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('A350_FAF_Stress_Summary_Database_-1000_v1.1.xlsx')
df.shape

(2415, 17)

In [3]:
df.columns

Index(['REPORT NAME', 'SECTION', 'REPORT REF.', 'Iss.', 'TABLE', 'TABLE NAME',
       'PAGE', 'PART NUMBER', 'DESCRIPTION', 'MATERIAL', 'LOAD CASE',
       'STRESS1 STRAIN1 FORCE1', 'APPLIED VALUE2', 'KIND OF LOADING3',
       'ALLOWABLE VALUE2', 'RF', 'REMARKS'],
      dtype='object')

In [4]:
df= df[['REPORT NAME', 'SECTION', 'REPORT REF.', 'Iss.','DESCRIPTION', 'MATERIAL', 'LOAD CASE','RF', 'REMARKS']]
#df['LOAD CASE'] = df['LOAD CASE'].astype(str)
#df['RF'] = df['RF'].astype(str)
df = df.astype(str).copy()

df= df.loc[~df.RF.isin(['>2','>2.00', '> 2', '>2.0'])].copy()
df['RF'] = df['RF'].str.replace(r'\*+', '').str.replace(r'(', '').str.replace(r')', '').str.replace(r'\[.*', '')
df.loc[df['RF'].str.contains(r'\n.*\n.*'),'RF'] = df.loc[df['RF'].str.contains(r'\n.*\n.*')].RF.str.replace(r'>', '').str.split('\n').apply(lambda x: min(x))
df = df.loc[~df['RF'].str.contains(r'>')].copy()
df = df.loc[~df['RF'].str.contains(r'-')].copy()
df['RF'] = df['RF'].astype(float)
df.shape

(1887, 9)

In [31]:
df['LOAD CASE'] = df['LOAD CASE'].str.replace('\n', '').str.replace(' ', '')

In [32]:
df['LOADCASE_10dig'] = df['LOAD CASE'].str.extract(r'([A-Z]{3}[A-Z0-9\-][A-Z0-9]{6}|2DP)')
df['LOADCASE_5dig'] = df['LOAD CASE'].str.extract(r'([LS]C.?[0-9]{5}|^[0-9]{5}$)', expand=False).str.extract(r'([0-9]{5})')

In [33]:
df['FRAME'] = df['DESCRIPTION'].str.extract(r'(C.?[0-9]{2}\.?\d?)')

In [ ]:
cds1 = ['CDS1', 'CARGO DOOR SURROUND 1']
cds2 = ['CDS2', 'CARGO DOOR SURROUND 2', 'CARGO DOOR 2']
pds2 = ['PDS2','PAX DOOR SURROUND 2']
pds4 = ['PDS4','PAX DOOR SURROUND 4', 'PAX DOOR 4']
bcds = ['BULK CARGO DOOR']
shells = ['SHELLS', 'TC_Cargo', 'PAX-FLOOR-SHEARTIES']
floor = ['Struts', 'Crossbeam' ,'Seat Rail', 'X-PADDLE']
rpb = ['RPB', 'Bulkhead', 'SHEARWEBS']
integration = ['JOINT', 'Splice', 'Integration']

In [40]:
import re
df['LOAD CASE'].str.extract(r'([A-Z]{3}[A-Z0-9\-][A-Z0-9]{6}|2dp)', re.IGNORECASE)

               0
0     CGLN007002
1            2DP
2     CMV-03O005
3            2DP
4     CMV-03O005
5            2DP
6            NaN
8     CMV-00T00D
9     CMV-03O005
12    CGLN003003
13    CGLN007002
14    CGLN007002
15    CMV-00T00D
21    CGLJ02Z01O
23    CMV-03O005
24    CMV-03O005
25    CMV-03O005
26    CMVB0D0002
29           2DP
30           2DP
31           2DP
32           2DP
33           2DP
34    CXLF02R018
35    CMV-00T00D
36    CXLF02R018
37           2DP
38    CGKJ076015
39    CXLF02R018
44           2DP
...          ...
2384         NaN
2386         NaN
2387         NaN
2388         NaN
2389         NaN
2390         NaN
2391         NaN
2392         NaN
2393         NaN
2394         NaN
2395         NaN
2396         NaN
2397         NaN
2398         NaN
2399         NaN
2400         NaN
2401         NaN
2402         NaN
2403         NaN
2404         NaN
2405         NaN
2406         NaN
2407         NaN
2408         NaN
2409         NaN
2410         NaN
2411         NaN
2412         NaN
2413         NaN
2414         NaN

[1887 rows x 1 columns]

In [34]:
df.to_csv('out.csv')